.calculadora{
    background-color: rgb(225, 206, 255);
    width: 500px;
}
form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
input{
    border: 1px solid black;
    border-radius: 5px;

    background-color: white;
}
header{
    background-color: rgb(196, 205, 255);
    height: 50px;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}